<html>
<head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script>
        function main($scope, $interval) {
            $scope.alerts = [];

            var sound = new Audio('/alert.wav');
            var board = $('#board');

            var socket = io();
            socket.on('message', function (message) {
                $scope.$apply(function () {
                    $scope.alerts.push(message);
                });

                if (message.data.length > 0) {
                    sound.play();
                }
            });

            $scope.color = 'green';
            $interval(function(){
                $scope.color = $scope.color === 'green' ? 'red' : 'green';
            }, 500);
        }

    </script>
</head>
<body ng-app ng-controller="main">
<div class="container">
    <div class="alert alert-info"><h2 class="text-center" ng-style="{color: color}">ON AIR</h2></div>
    <div style="direction: rtl" class="alert alert-success" ng-repeat="alert in alerts">
        <span ng-show="alert.data.length > 0">{{alert.title}}</span>
        <span ng-hide="alert.data.length > 0">חזל"ש</span>
        <span ng-repeat="d in alert.data">{{d}}&nbsp;</span></div>
</div>
</body>
</html>
